<div class="row">
    <div class="col-2 text-center">
      <h4 class="my-5 ">
      <a routerLink="#">Home</a>
      </h4>
      <h4>
        <a routerLink="#">Users</a>
      </h4>
 
    </div>
    <div class="col-10">

    
       <h1 class="text-center m-5"> add user</h1>
       <form class="shadow m-5 w-50 p-5">
        <input type="text" placeholder="id" class="form-control mb-3">
        <input type="text" placeholder="name" class="form-control mb-3">
        <input type="text" placeholder="email" class="form-control mb-3">
        <select name="" id="" class="form-control mb-3">
            <option value="" hidden>select</option>
            <option value="">active</option>
            <option value="">inactive</option>
        </select>

        <div class="text-center m-4">
            <button class="btn btn-success">save</button>
        </div>
       </form>
    </div>
</div>
