<div class="row">
    <div class="col-2 text-center">
      <h4 class="my-5 ">
      <a routerLink="#">Home</a>
      </h4>
      <h4>
        <a routerLink="#">Users</a>
      </h4>
 
    </div>
    <div class="col-10">

        <div class="row">
            <div class="col-8">
                <div class="card mt-5">
                    <h1>Welcome Admin</h1>
                </div>
            </div>
            <div class="col-4">
                <div class="admin m-5 p-4">
                    <h3>Admin Details</h3>
                    <img src="https://th.bing.com/th/id/OIP.WpnGIPj1DKAGo-CP64znTwHaHa?rs=1&pid=ImgDetMain" width="100%" height="200px" alt="">

                    <input type="text" placeholder="Name" class="form-control mt-4 mb-3">
                    <input type="text" placeholder="Name" class="form-control mb-3">
                    <div class="text-center ">
                        <button class="btn btn-success">Update</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
